Source: deepin-qml-widgets
Section: devel
Priority: extra
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 8.0.0),
 qt5-qmake,
 qt5-default,
 qtdeclarative5-dev ( >= 5.3.1~),
 libqt5webkit5-dev ( >= 5.3.1+dfsg~),
 libqt5x11extras5-dev,
 libqt5opengl5-dev,
 pkg-config,
 libxcomposite-dev, 
 libxcb-damage0-dev,
Standards-Version: 3.9.4
Homepage: http://www.linuxdeepin.com

Package: deepin-qml-widgets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt5-extra
Description: Deepin QML widgets
 Deepin QML widgets
